.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 24px;
  font-family: var(--font-geist-sans, sans-serif);
}

.body {
  padding: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 1rem 0;
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 600px;
}

.card:hover {
  transform: translateY(-4px);
}

.title {
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 8px;
  text-align: center;
}

.titleWrapper {
  flex: 1;
  text-align: center;
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: #00ffff;
  color: rgb(33, 32, 32);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button:hover:enabled {
  background-color: 
  #00007e;
  color: #ffffff;
}

.header {
  background-color: 
  #00007e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 8px;
  color: white;
  box-sizing: border-box;
}

.logo {
  height: 40px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.language {
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
}

.input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  width: 280px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-top: 100px;
}

.input:focus {
  border-color: #000099;
  box-shadow: 0 0 0 3px rgba(0, 0, 153, 0.2);
}

.select {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  width: 120px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.select:focus {
  border-color: #000099;
  box-shadow: 0 0 0 3px rgba(0, 0, 153, 0.2);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
}

